<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shamwow.brainz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"

        >
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".frm_topics"
            android:screenOrientation="portrait"/>
        <activity android:name=".frm_settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".frm_vb_net"
            android:screenOrientation="portrait"/>
        <activity android:name=".frm_cisco"
            android:screenOrientation="portrait"/>
        <activity android:name=".frm_comp_essential"
            android:screenOrientation="portrait"/>
        <activity android:name=".frm_mysql"
            android:screenOrientation="portrait"/>
        <activity android:name=".QuestionHandler"></activity>
    </application>

</manifest>